.image-stream {
  padding-top: 150px;
  @extend %flexbox;
  @include e(card) {
    width: 60%;
    margin-bottom: 150px;
    box-shadow: 0 2px 1px 1px $color-card-shadow;
    font-size: 0;
    border-radius: 10px;
    textarea {
      font-size: 2.8rem;
      width: 100%;
      padding: 10px 20px;
    }
    button {
      @extend %button;
      width: 100%;
    }

    &.stream-card-leave {
      max-height: 100vh;
      overflow: hidden;
    }

    &.stream-card-leave.stream-card-leave-active {
      max-height: 0;
      margin-bottom: 0;
      visibility: hidden;
      transition: max-height 1.5s, margin-bottom 0.5s 1.5s, visibility 0s 1.5s;
    }
  }
  @include e(img) {
    width: 100%;
  }
  @include e(placeholder) {
    &.stream-card-appear {
      display: none
    }
    &.stream-card-leave.stream-card-leave-active {
      display: none;
    }
  }
}
