.image-upload {
  @extend %flexbox;
  padding-top: 80px;
  padding-bottom: 150px;
  @include e(img) {
    width: 60%;
  }
  @include e(button) {
    width: 60%;
    font-size: 2.7rem;
    margin-top: 30px;
    color: $white;
    border-radius: 10px;
    background-color: $color-button-background;
  }
}
