.image-stream {
  padding-top: 50px;
  @extend %flexbox;
  @include e(card) {
    width: 60%;
    margin-bottom: 50px;
    box-shadow: 0 2px 1px 1px $color-card-shadow;
    font-size: 0;
    border-radius: 5px;
    textarea {
      font-size: $font-size--base;
      width: 100%;
      padding: 5px 5px;
    }
    button {
      @extend %button;
      width: 100%;
    }

    &.stream-card-leave {
      max-height: 100vh;
      overflow: hidden;
    }

    &.stream-card-leave.stream-card-leave-active {
      max-height: 0;
      margin-bottom: 0;
      visibility: hidden;
      transition: max-height 1.5s, margin-bottom 0.5s 1.5s, visibility 0s 1.5s;
    }
  }
  @include e(img) {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  @include e(placeholder) {
    font-size: $font-size--base;
    &.stream-card-leave {
      display: none;
    }
  }
  @include mq(med) {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    @include e(card) {
      width: 20%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
