.header {
  background-color: $color-header-background;
  @extend %flexbox;
  @include e(heading) {
    color: $color-header-text;
    font-size: 3rem;
  }
  @include e(icon) {
    width: 250px;
  }
  @include e(nav) {
    color: $color-header-text;
    font-size: 2.5rem;
    li {
      margin-bottom: 10px;
    }
  }
}
