* {
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
  margin: 0;
  outline: none;
  border: none;
}
